DirectoryIndex index.php index.html index.htm index2.html

# Default Error Documents (Handled by the hosting web server)
# ErrorDocument 403 /errors/403.html
# ErrorDocument 404 /errors/404.html
# ErrorDocument 500 /errors/500.html